

.block.app-block-intro
  .container.text-xs-center
    img.rounded.mx-auto.d-block.logo-brand(src="images/logo.png")
    span.badge.badge-primary.catch-text Bring your store inside your customer's phone 
    p.main-content
      | You can now 
      mark INCREASE SALES
      |  by allowing your brand to have both an IOS &amp; Android mobile app that gives your clients access to your products everywhere, 24/7.

img.image-app(src="images/scanshopy-app-dos.png")

.block(id="image-background").text-md-center
    

.block.block-bordered-lg
  .container.text-center.app-translate-15(data-transition='entrance')
    blockquote.pull-quote

.block.app-ribbon.py-5
  .container.text-xs-center
    .row
        .col-sm-8.offset-sm-2.text-center.mb-5
          p.fa.fa-bar-chart.lead.mx-auto
            strong  Increase Sales
        .col-sm-8.offset-sm-2.text-center.mb-5
          p.lead.mx-auto
            | Let scanshopy technology 
            strong convert visitors into clients
            |  even when they have walked out of your store 




.block.hidden-sm-down
  .container.text-lg-center.video-app

    iframe(width='640', height='360', src='https://www.youtube.com/embed/Yb0LZ5nfYGw?rel=0&controls=0&showinfo=0', frameborder='0', allowfullscreen='')


.block
  .container
    .row
      .col-sm-8.offset-sm-2.text-center.mb-5
        p.lead.mx-auto
          | With over 
          strong 10 years of fashion-business experience
          | , we take the unthinkable and make it just a couple quick taps away.
    .row
      .col-sm-6
        ul.featured-list
          li.mb-5
            .featured-list-icon.text-primary
              span.fa.fa-paint-brush
            p.featured-list-icon-text.mb-0
              strong Custom Themes
            p.featured-list-icon-text
              | Easily customize the base theme to match your brand and give your customers a dynamic look.
          li.mb-5
            .featured-list-icon.text-primary
              span.fa.fa-bell
            p.featured-list-icon-text.mb-0
              strong Push Notifications
            p.featured-list-icon-text
              | Let your app notify customers of new offer or events, helping them become more engaged.
      .col-sm-6
        ul.featured-list
          li.mb-5
            .featured-list-icon.text-primary
              span.fa.fa-mobile
            p.featured-list-icon-text.mb-0
              strong Android & iOS Platforms
            p.featured-list-icon-text
              | We build Touchable and Swappable beautiful apps for our customers' shopping experience.
          li.mb-5
            .featured-list-icon.text-primary
              span.fa.fa-credit-card
            p.featured-list-icon-text.mb-0
              strong Payment Gateways
            p.featured-list-icon-text
              | Secure & easy to use payment gateways, the last but not the least step in the online shopping.

.block.block-bordered-lg
  .container.text-center.app-translate-15(data-transition='entrance')

.block.app-ribbon.py-5
  .container.text-xs-center
    .row
        .col-sm-8.offset-sm-2.text-center.mb-5
          p.fa.fa-connectdevelop.lead.mx-auto
            strong  Cross-platform integration
        .col-sm-8.offset-sm-2.text-center.mb-5
          p.lead.mx-auto
            | Scanshopy integrates with all the major e-commerce providers so you don't have to adopt a new way of managing your products.
    .row.mb-5
      .col-sm-6.col-md-4
        .thumbnail
          div
            img(style='width : 55% ; padding-top: 20%', src='images/bigcommerce-logo.png')
      .col-sm-6.col-md-4
        .thumbnail
          div
            img(style='width : 50% ; padding-top: 20%', src='images/shopify-logo.png')
      .col-sm-6.col-md-4
        .thumbnail
          div
            img(style='width : 50% ; padding-top: 20%', src='images/magento-logo.png')


      
      
.block.app-block-stats
  .container
    .row
      .col-lg-7.col-md-6.business-meeting
        img.business-image.app-translate-5(src='images/business-meeting.jpeg', data-transition='entrance')
        hr.mt-0.mb-5.mx-auto.hidden-md-up
      .col-lg-5.col-md-6.text-center.text-md-left.pb-5
        p.lead
          strong We do the coding, you do the business.
          |  Scanshopy technology will boost your sales.
          |   We&apos;re glad that others agree.
        .row.my-4
          .col-6.mb-3
            .statcard
              h1.statcard-number.block-title 45%
              |  
              span.statcard-desc Increased conversion rate
          .col-6.mb-3
            .statcard
              h1.statcard-number.block-title 36%
              |  
              span.statcard-desc Increased referral rate
        .row.mb-3
          .col-6.mb-3
            .statcard
              h1.statcard-number.block-title 2 in 4
              |  
              span.statcard-desc Clients use mobile apps for shopping
          .col-6.mb-3
            .statcard
              h1.statcard-number.block-title 99%
              |  
              span.statcard-desc Increased customer happiness rate


.block.block-bordered-lg
  .container.text-center.app-translate-15(data-transition='entrance')

.block.how-it-works
  .container
    .row
      .col-sm-8.offset-sm-2.text-center.mb-5
        p.fa.fa-globe.lead.mx-auto
          strong  Mobile fashion, susccess cases

.block.pl-0.pt-0.pr-0.pb-0
  #carousel-example-generic.carousel.carousel-light.slide(data-ride='carousel')
    ol.carousel-indicators
      li.active(data-target='#carousel-example-generic', data-slide-to='0')
      li(data-target='#carousel-example-generic', data-slide-to='1')
      li(data-target='#carousel-example-generic', data-slide-to='2')
    .carousel-inner(role='listbox')
      .carousel-item.active
        .block.better-block
          .container
            .row
              .col-sm-8.offset-sm-2
                p.lead.mx-auto.text-center
                  a(href='https://selinali32.wordpress.com/2014/11/02/14-reasons-why-zaras-mobile-app-is-amazing/') Zara&rsquo;s Mobile App 
                p.lead.mx-auto.text-center
                  | While several retailers have been releasing mobile commerce apps recently, others are dipping their toes in the water by releasing apps which provide info on the latest products, and the Zara app falls into this category, allowing users to browse through some of its collections.
            |  
            img.other-apps.img-fluid.mt-5.app-block-game-img.d-block.img-fluid(src='images/zara-app.jpg')
      .carousel-item
        .block.better-block
          .container
            .row
              .col-sm-8.offset-sm-2
                p.lead.mx-auto.text-center
                  a(href='https://www.marketingweek.com/2016/04/12/mobile-now-accounts-for-50-of-sales-at-asos/') ASOS mobile drives 50% of sales
                p.lead.mx-auto.text-center
                  | Asos saw 50% of its sales come through a mobile device in February 2016, with the online fashion retailer reporting 3.2 million downloads of its mobile app in the six months to 29 February.
            |  
            img.other-apps.img-fluid.mt-5.app-block-game-img.d-block.img-fluid(src='images/asos-app.jpg')
      .carousel-item
        .block.better-block
          .container
            .row
              .col-sm-8.offset-sm-2
                p.lead.mx-auto.text-center
                  a(href='https://www.fool.com/investing/2016/11/02/nikecom-sales-are-surging-and-things-are-better-th.aspx') Nike's sales are   surging
                p.lead.mx-auto.text-center
                  | While total sales rose 8%, Nike.com sales increased a full 49% year over year. This follows a 46% rise in fiscal year 2016 over 2015. The surge in online sales comes not only from the growing trend toward online shopping, but also from some key investments Nike has made.
            |  
            img.other-apps.img-fluid.mt-5.app-block-game-img.d-block.img-fluid(src='images/nike-app.jpg')
    a.carousel-control-prev(href='#carousel-example-generic', role='button', data-slide='prev')
      span.icon.icon-chevron-thin-left(aria-hidden='true')
      |  
      span.sr-only Previous
    a.carousel-control-next(href='#carousel-example-generic', role='button', data-slide='next')
      span.icon.icon-chevron-thin-right(aria-hidden='true')
      |  
      span.sr-only Next




.block.block-bordered-lg.text-center
  .container.text-xs-center
    .row
        .col-sm-8.offset-sm-2.text-center.mb-5
          p.fa.fa-check.lead.mx-auto
            strong  Make it happen!
  .container-fluid
    p.lead.mb-4
      | Interact with our demo and get a preview of our technology 
      
    form.form-inline.d-flex.justify-content-center
      button.btn.btn-primary.mb-3(type='button', data-toggle='modal', data-target='#myModal')  Get free demo
    |  
    small.text-muted
      | By clicking &quot;Get free demo&quot; I agree to Scanshopy&apos;s 
      a(href='#') Terms of service
.block.app-block-footer.text-center
  .container.text-center
    .row.text-center
      
      .col-sm-12.text-center
        h6.text-uppercase Business info
        pul.list-unstyled.list-spaced
          li Scanshopy LLC.
          li service@scanshopy.com
          li 
            | Made with 
            i.fa.fa-heart.heart-nyc
            |  in New York
            
