#myModal.modal.fade.form-center
  .modal-dialog(role='document')
    .modal-content.text-center
      .modal-header
        h5.modal-title.form-header-style Let's get Started
       
        
      .modal-body   
       #mc_embed_signup
        form#mc-embedded-subscribe-form.validate(action='//scanshopy.us15.list-manage.com/subscribe/post?u=b690a2e014105df6aceff760e&id=5100c0b919', method='post', name='mc-embedded-subscribe-form', target='_blank', novalidate='')
          #mc_embed_signup_scroll
            .mc-field-group
              label(for='mce-EMAIL') Email Address
              |  
              input#mce-EMAIL.required.email(type='email', value='', name='EMAIL')
            .mc-field-group
              label(for='mce-FNAME') Company Name
              |  
              input#mce-FNAME(type='text', value='', name='FNAME')
            .mc-field-group.size1of2
              label(for='mce-MMERGE2') Telephone
              |  
              input#mce-MMERGE2.required(type='number', name='MMERGE2', value='')
            #mce-responses.clear
              #mce-error-response.response(style='display:none')
              #mce-success-response.response(style='display:none')
            div(style='position: absolute; left: -5000px;', aria-hidden='true')
              input(type='text', name='b_b690a2e014105df6aceff760e_5100c0b919', tabindex='-1', value='')
            .clear
              input#mc-embedded-subscribe.button(type='submit', value='Subscribe', name='subscribe')
