.container.pt-4
  nav.navbar.fixed-top.navbar-light.navbar-toggleable-sm.text-uppercase.app-navbar.nav-style.mb-5
    button.navbar-toggler.navbar-toggler-right.hidden-md-up(type='button', data-toggle='collapse', data-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
      span.navbar-toggler-icon
    |  
    a.navbar-brand.mr-auto(href='/')
      span.brand-name S C A N S H O P Y
      
    #navbarResponsive.collapse.navbar-collapse
      ul.nav.navbar-nav.ml-auto
        li.nav-item.active
          a.nav-link(href='') How it works
        li.nav-item
          a.nav-link(href='') About us
        li.nav-item
          button.btn.btn-warning(type='button', data-toggle='modal', data-target='#myModal') Get a free demo
	



