doctype html(lang='en')
html
    include partials/_head.pug 
    body
        include partials/_nav.pug
        include partials/_content.pug
        include partials/_modal.pug
        
        block content
